<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span> <a routerLink="/">Posts</a></span>
        <span class="spacer"></span>
        <ul>
            <li>
                <a *ngIf="loginStatus" mat-button routerLink="create-post" routerLinkActive="mat-accent">Create Post</a>
            </li>
            <li>
                <a *ngIf="!loginStatus" mat-button routerLink="/auth/register" routerLinkActive="mat-accent">Register</a>
            </li>
            <li>
                <a *ngIf="!loginStatus" mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
            </li>
            <li>
                <button mat-button *ngIf="loginStatus" (click)="logout()">Logout</button>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>