<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card   *ngIf="!isLoading">
    <form  [formGroup]="form" (submit) ="onAddPost()"   >
        <div class="post-form">
            <mat-form-field>
                <mat-label>   Post title   </mat-label>
                    <input matInput placeholder="Post title" type="text" name="title" formControlName="title" >
                    <mat-error *ngIf="form.get('title')?.invalid">title lenght should be more tha 3 character</mat-error>
            </mat-form-field>

            <div class="image-field">
                <button type="button" mat-stroked-button (click)="img.click()">Pick Image</button>

                <input  hidden type="file" (change)="imageChange($event)" #img accept="image/*">
                <img [src]="imageUrl" [alt]="form.value.title" *ngIf="imageUrl">
                <mat-error *ngIf="form.get('image')?.touched && form.get('image')?.errors?.required">image is required</mat-error>
                <mat-error *ngIf="form.get('image')?.touched && form.get('image')?.errors?.inValiFormate">Please select a valid image file (e.g., JPEG, PNG).</mat-error>

            </div>
                

            <mat-form-field>
                <mat-label>Post detail</mat-label>
                    <textarea matInput rows ="6" placeholder="Post detail" name="description" formControlName="description"></textarea>
                    <mat-error *ngIf=" form.get('description')?.invalid">description is required</mat-error>

            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Save Post</button>

    </form>
        
</mat-card>