.no-posts{
    margin: 20px 0;
    text-align: center;
}
.posts{
    margin-top: 30px    ;
}
.mat-spinner{
    margin:  50px auto;
}
.post-body{
    display: grid;
    grid-template-columns:  140px 1fr;
    gap: 10px;
    & div {
        text-align: left;
    }
    & img {
        width: 100%;
        border-radius: 5px;
    }
}
